
  <mat-form-field appearance="fill">
    <mat-label >Search Series</mat-label>
    <input
    matInput
     placeholder="Search here..."
      type="text"
        placeholder= ""
        (input)=" filterSeries($event)"
          [(ngModel)]="searchInput"
         >
  </mat-form-field>
  <div class="row">
    <div class="rows" *ngFor="let series of seriesfilter">
        <mat-card >
          <a [routerLink]="['/movie-details/',series.id]">
              <div >
                <img button ="button" class = "center" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{series?.poster_path}}"
                  [alt]="series.name ? series.name : series.name">
                <img *ngIf="!series?.poster_path" src="assets/images/default-serie.png"
                  [alt]="series.name ? series.name : series.name">
              </div>
            <mat-card-title class="text-center"> {{series.name}} </mat-card-title>
          </a>
        </mat-card>
    </div>
  </div>




