.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}
.title{
  position: inherit;

  text-align: center;
  border: 2px;
  border-style: double;
}
.seriename{

  position: relative;
  text-align: center;

}
